@import './variables.css';

/* Browser components styles */
*::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--vt-c-white);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--vt-c-indigo-dark);
  border-radius: 20px;
  border: 2px solid var(--vt-c-white);
}

/* Webapp styles */

#app {
  max-width: none;
  min-width: calc(1024px - 4%);
  margin: 0 auto;
  padding: 2%;
  font-weight: normal;
}

body {
  position: relative;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Cambria;
  font-size: 15px;
  margin: 0;
}

h1 {
  font-size: 28px;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

h2 {
  font-size: 24px;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

h3 {
  font-size: 21px;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

label {
  font-size: 15px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:not(.tab-router-link) {
  color: var(--vt-c-white-mute);
}

a:not(.tab-router-link):hover {
  background-color: var(--vt-c-white-mute);
  color: var(--vt-c-black);
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 17px;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
textarea,
input[type="date"],
select,
button {
  font-family: Cambria;
  font-size: 14px;
  resize: none;
}

input[type="radio"] {
  margin: 3px 3px 0 3px;
}

.vue-notification .notification-title {
  font-size: 18px;
}

.vue-notification .notification-content {
  font-size: 14px;
}

.site-section {
  border-radius: 12px;
  border: 4px solid var(--site-section-border-color);
  padding: 20px;
}

.italicized {
  font-style: italic;
}

.underlined {
  text-decoration: underline;
}

.divider {
  border-width: 3px;
  margin-block-start: 15px;
  margin-block-end: 15px;
  border-style: solid;
}

.light-divider {
  border-width: 1px;
  margin-block-start: 10px;
  margin-block-end: 10px;
  border-style: solid;
}

.color-transition:not(:disabled) {
  transition: linear background-color 0.2s, linear color 0.2s;
}

button:disabled, input:disabled {
  pointer-events: none;
  cursor: default;
  color: var(--vt-c-text-dark-2);
}

.login-button {
  width: 40%;
  height: 50px;
  font-weight: bold;
  border-radius: 12px;
  border-style: solid;
  background-color: var(--login-form-buttons-background-color);
  color: var(--login-form-buttons-text-color);
}

.login-button.short {
  width: 200px;
}

.login-button:hover:not(:disabled),
.login-button.active:not(:disabled) {
  background-color: var(--login-form-buttons-background-color-active);
  color: var(--login-form-buttons-text-color-active);
  cursor: pointer;
}

.squared-button {
  width: fit-content;
  height: 25px;
  border-radius: 0px;
}

.custom-button {
  width: 70px;
  border-radius: 6px;
  padding: 5px;
  background-color: var(--navbar-background-color);
  border-style: solid;
  cursor: pointer;
}

.custom-button.wider {
  width: 150px;
  height: 35px;
  text-align: center;
  margin-top: 10px;
  margin-right: 7px;
}

.custom-button:active {
  background-color: var(--navbar-tab-background-color-hover);
}

input.login-input,
textarea.login-input {
  width: 55%;
  font-size: 20px;
  margin-bottom: 21px;
  border: 2px solid black;
  border-radius: 6px;
}

.dropdown-info-box {
  /* border: 3px solid var(--vt-c-indigo); */
  border-radius: 10px;
  padding: 5px 15px 15px 15px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable-container {
  display: flex;
  flex-direction: column;
  width: auto;
  border: 3px solid var(--vt-c-indigo);
  border-radius: 8px;
  min-height: 350px;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.loading-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: auto;
  padding-bottom: 55px;
}

img.loading-image {
  filter: invert(100);
  width: 300px;
}

.loading-image-container label {
  color: white;
  float: bottom;
  font-size: 20px;
}

.go-to-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  font-size: 30px;
  background-color: var(--vt-c-text-dark-2);
  color: var(--vt-c-indigo);
  cursor: pointer;
}

/* Vue transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.opacity-enter-active,
.opacity-leave-active {
  transition: opacity 0.5s ease;
}

.opacity-enter-from,
.opacity-fast-enter-from {
  opacity: 0;
}